@model IEnumerable<LogIn_Test.Models.PM_vw_InspectorView>
<html dir="rtl">
<style dir="rtl"; class=glyphicon-align-right>
    
    fieldset {
        background-color: #eeeeee;
    }

    legend {
        background-color: gray;
        color: white;
        padding: 5px 10px;
    }

    input {
        margin: 5px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">برنامه های انجام شده</h1>
            </div>
            <div class="panel-body">
                <fieldset>
                    <legend style="float:right; margin-right;">نظر بازرس:</legend>
                    <button  type="submit" value="Delete" class="btn btn-sm btn-danger rounded-0" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i> Delete</button>
                    <br /><br />
                    @Html.Label("Opinion", "تائید", new { style = "float:right"})
                    @Html.RadioButton("Opinion", "Yes", new { style = "float:right"})
                    @Html.Label("Opinion", "              عدم تائید", new { style = "float:right"})
                    @Html.RadioButton("Opinion", "No", new { style = "float:right"})
                    <br /><br />
                    @Html.Label("Desc", "توضیحات", new { style = "float:right"})<br />
                    <textarea name="Desc" rows="2" cols="100" dir="rtl" style="float:right;margin-right; text-align:right";></textarea><br />
                </fieldset>



                <table id="InspectorView-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                            <th style="right">ردیف</th>
                            <th style="right">عنوان_برنامه</th>
                            <th>مجری</th>
                            <th>نوع_فعالیت</th>
                            <th>نتیجه</th>
                            <th>تاریخ_اعلام_نتیجه</th>
                            <th>کاربر_ثبت_کننده_نتیجه</th>
                            <th>تاریخ_ثبت_نتیجه</th>
                            <th>مقدار_جدید</th>
                            <th>آیا_ریست_شده</th>
                            <th>توضیحات</th>
                            <th>نام_ماشین</th>
                            <th>کد_ماشین</th>
                            <th>مشخصه_تکمیلی_ماشین</th>
                            <th>کد_ماشین_اولین_سطح</th>
                            <th>نام_ماشین_اولین_سطح</th>
                            <th>مشخصه_تکمیلی_ماشین_اولین_سطح</th>
                            <th>کارگاه</th>
                            <th>آخرین_مقدار</th>
                            <th>واحد_مقدار</th>
                            <th>عدم_تائید_توسط_برنامه_ریزی_تعمیرات</th>
                            <th>کاربر_برنامه_ریزی_تعمیرات</th>
                            <th>تاریخ_ثبت_نظر</th>
                            <th>نظر_بازرس</th>
                            <th>کاربر_بازرس</th>
                            <th>تاریخ_ثبت_نظر_بازرس</th>
                            <th>توضیحات_بازرس</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Inspector in Model)
                        {
                            <tr>

                                <td><input type="checkbox" name="ID" value="@Inspector.Sent_ID" class="custom-checkbox chkCheckBoxId" /></td>
                                <td>@Inspector.Sent_ID</td>
                                <td style="right">@Inspector.عنوان_برنامه</td>
                                <td>@Inspector.مجری</td>
                                <td>@Inspector.نوع_فعالیت</td>
                                <td>@Inspector.نتیجه</td>
                                <td>@Inspector.تاریخ_اعلام_نتیجه</td>
                                <td>@Inspector.کاربر_ثبت_کننده_نتیجه</td>
                                <td>@Inspector.تاریخ_اعلام_نتیجه</td>
                                <td>@Inspector.مقدار_جدید</td>
                                <td>@Inspector.آیا_ریست_شده</td>
                                <td>@Inspector.توضیحات</td>
                                <td>@Inspector.نام_ماشین</td>
                                <td>@Inspector.کد_ماشین</td>
                                <td>@Inspector.مشخصه_تکمیلی_ماشین</td>
                                <td>@Inspector.کد_ماشین_اولین_سطح</td>
                                <td>@Inspector.نام_ماشین_اولین_سطح</td>
                                <td>@Inspector.مشخصه_تکمیلی_ماشین_اولین_سطح</td>
                                <td>@Inspector.کارگاه</td>
                                <td>@Inspector.آخرین_مقدار</td>
                                <td>@Inspector.واحد_مقدار</td>
                                <td>@Inspector.عدم_تائید_توسط_برنامه_ریزی_تعمیرات</td>
                                <td>@Inspector.کاربر_برنامه_ریزی_تعمیرات</td>
                                <td>@Inspector.تاریخ_ثبت_نظر</td>
                                <td>@Inspector.نظر_بازرس</td>
                                <td>@Inspector.کاربر_بازرس</td>
                                <td>@Inspector.تاریخ_ثبت_نظر_بازرس</td>
                                <td>@Inspector.توضیحات_بازرس</td>


                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {

            $('#InspectorView-data-table').DataTable();
        });
    </script>

}

