@model IEnumerable<LogIn_Test.Models.PM_vw_InspectorView>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">برنامه های انجام شده</h1>
            </div>
            <div class="panel-body">
                <table id="InspectorView-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>عنوان_برنامه</th>
                            <th>مجری</th>
                            <th>نوع_فعالیت</th>
                            <th>نتیجه</th>
                            <th>تاریخ_اعلام_نتیجه</th>
                            <th>کاربر_ثبت_کننده_نتیجه</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Inspector in Model)
                        {
                        <tr>
                            <td>@Inspector.عنوان_برنامه</td>
                            <td>@Inspector.مجری</td>
                            <td>@Inspector.نوع_فعالیت</td>
                            <td>@Inspector.نتیجه</td>
                            <td>@Inspector.تاریخ_اعلام_نتیجه</td>
                            <td>@Inspector.کاربر_ثبت_کننده_نتیجه</td>
                        </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {

            $('#InspectorView-data-table').DataTable();
        });
    </script>

}