@model LogIn_Test.User

@{
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>صفحه ورود بازرس</title>

    <link href="~/Content/Themes/LogIn_StyleSheet.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Themes/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/Themes/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Themes/login.css">
   
</head>
<body>
    

    <div class='ripple-background'>
        <div class='circle xxlarge shade1'></div>
        <div class='circle xlarge shade2'></div>
        <div class='circle large shade3'></div>
        <div class='circle mediun shade4'></div>
        <div class='circle small shade5'></div>
    </div>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="~/Content/Images/login.jpg" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <img src="~/Content/Images/navard-logo.svg" alt="logo" class="logo" style="width:50px;height:60px;">
                            </div>

                            <div class="form-group">
                                <h6 class="login-card-description">@Html.Label("Header1", "شرکت نورد و تولید قطعات فولادی", new { style = "font-family:B titr;font-size:18px;" })</h6>
                                <h6 class="login-card-description">@Html.Label("Header2", "برنامه تعمیرات و نگهداری- بازرس", new { style = "font-family:B titr;font-size:16px;" })</h6>
                            </div>
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    @Html.TextBoxFor(a => a.Username, new { style = "font-family:B titr;font-size:12px;" })
                                    @Html.Label("OpinionLabel", "نام کاربری", new { style = "font-family:B titr;font-size:12px;" })

                                    @Html.ValidationMessageFor(a => a.Username)
                                </div>
                                <div class="form-group mb-4">
                                    @Html.PasswordFor(a => a.Password, new { style = "font-family:B titr;font-size:12px;" })
                                    @Html.Label("OpinionLabel", "رمز عبور", new { style = "font-family:B titr;font-size:12px;" })

                                </div>
                                <input type="submit" value="ورود" onclick="location.href='@Url.Action("Home", "Login",FormMethod.Post)' " style="font-family:B titr;font-size:12px;width: 200px;" />
                            }


                        </div>

                    </div>

                </div>

            </div>
        </div>
    </main>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @section Scripts
    {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>
